# Ignore all files inside specific folders, but keep the folders themselves

# /assets/bg_vid/*
/assets/screenshots/*
/assets/voices/*

# But do not ignore the folders themselves
!/*/

config.toml
/myenv
/__pycache__
/.idea